
###### Global clock ###################
NET Clk LOC = P8 | TNM_NET = sys_clk_pin | IOSTANDARD = "LVCMOS33";
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
##

###### SPI slave interface #######################

NET SCLK LOC = R11 | IOSTANDARD = "LVCMOS33";
NET MOSI LOC = T10 | IOSTANDARD = "LVCMOS33";
NET MISO LOC = P10 | IOSTANDARD = "LVCMOS33";
NET nCS  LOC = R12 | IOSTANDARD = "LVCMOS33";

###### DCMI master interface #######################

NET DATA<0> LOC = T12 | IOSTANDARD = "LVCMOS33";
NET DATA<1> LOC = T13 | IOSTANDARD = "LVCMOS33";
NET DATA<2> LOC = T15 | IOSTANDARD = "LVCMOS33";
NET DATA<3> LOC = M14 | IOSTANDARD = "LVCMOS33";
NET DATA<4> LOC = R16 | IOSTANDARD = "LVCMOS33";
NET DATA<5> LOC = L13 | IOSTANDARD = "LVCMOS33";
NET DATA<6> LOC = P16 | IOSTANDARD = "LVCMOS33";
NET DATA<7> LOC = P15 | IOSTANDARD = "LVCMOS33";
NET DSYNC   LOC = L12 | IOSTANDARD = "LVCMOS33";
NET DCLK    LOC = R15 | IOSTANDARD = "LVCMOS33";

##
# NET nRst    LOC = T6 | IOSTANDARD = "LVCMOS33"; ## Reset Button
##

######## LED pins #####################
NET Led<0> LOC = L7 | IOSTANDARD = "LVCMOS33";       ## LED1
NET Led<1> LOC = L8 | IOSTANDARD = "LVCMOS33";       ## LED2

